$nav-text: #BDA0CB;

.tile-image {
  max-width: 300px;
}
.navbar {
  background-color: #333;
}
.navlink{
  color: $nav-text;
  :hover {
    color: #72587F;
  }
}
.footer-text {
  color: $nav-text;
  padding-left: 10px;
  padding-right: 10px;
  :hover {
    color: #72587F;
  }
}
